<div class="home-menu js-accordion" config-header="h2">
				<h2><small>subhead</small> Heading</h2>
				<div class="">
						<p>Content here</p>
				</div>

				<h2><small>subhead</small> Heading</h2>
				<div class="">
						<p>Content here</p>
				</div>

				<h2><small>subhead</small> Heading</h2>
				<div class="">
						<p>Content here</p>
				</div>


				<h2><small>subhead</small> Heading</h2>
				<div class="">
						<p>Content here</p>
				</div>

				<h2><small>subhead</small> Heading</h2>
				<div class="">
						<p>Content here</p>
				</div>

				<h2><small>subhead</small> Heading</h2>
				<div class="">
						<p>Content here</p>
				</div>

				<h2><small>subhead</small> Heading</h2>
				<div class="">
						<p>Content here</p>
				</div>

</div>