<div class="grid-3">
								<div>
										 <h3>High <br/>Performance</h3>
										 <p>Driven to consistently exhibit high levels of efficiency and effectiveness.</p>
										 <a href="/about" class="arrow"><img  src="/img/svg/continue.svg" alt="Image"></a>
								</div>
								<div>
										 <h3>Full <br/>Strength</h3>
										 <p>Products, service and technical support that surpass industry standards.</p>
										 <a href="/about" class="arrow"><img  src="/img/svg/continue.svg" alt="Image"></a>
								</div>
								<div>
										 <h3>Big <br/>Innovation</h3>
										 <p>Leading the industry since 1989 with new, comprehensive solutions.</p>
										 <a href="/about" class="arrow"><img  src="/img/svg/continue.svg" alt="Image"></a>
								</div>
						</div>