<div class="grid-3">
								<div>
										<p><img  src="/img/home/solution-1b.jpg" alt="Image"></p>
										 <h3>Full Suite</h3>
										 <p>The most comprehensive <br/>line of infrastructure products <br/>available today.</p>
										 <a href="/products" class="btn2">Product Line</a>
								</div>
								<div>
										<p><img  src="/img/home/solution-2b.jpg" alt="Image"></p>
										 <h3>Only at Concast	</h3>
										 <p>Concast is the first precast and concrete pipe manufacturer in Canada to exclusively offer the PERFECT PIPE system. </p>
										 <a href="/products" class="btn2">Perfect pipe</a>
								</div>
								<div>
										<p><img  src="/img/home/solution-3b.jpg" alt="Image"></p>
										 <h3>Built in Value</h3>
										 <p>We offer competitive pricing and flexible solutions across our entire product catalogue. </p>
										 <a href="/resources" class="btn2">Resources</a>
								</div>
						</div>